<div class="building-wrapper">
  <div class="pull-left building-label">
      Build gold mine:
  </div>
  <input type="text" [(ngModel)]="goldMine" />
  <button class="building-btn" (click)="buildGoldMine()">Build</button>
</div>

<div class="building-wrapper">
  <div class="pull-left building-label">
      Build lumberjack hut:
  </div>
  <input type="text" [(ngModel)]="woodHut" />
  <button class="building-btn" (click)="buildLumberjackHut()">Build</button>
</div>

<div class="building-wrapper">
  <div class="pull-left building-label">
      Build ore mine:
  </div>
  <input type="text" [(ngModel)]="oreMine" />
  <button class="building-btn" (click)="buildOreMine()">Build</button>
</div>