<div>
<h2>Action</h2>
  <div class="navigation-item">
      <button class="navigation-btn" routerLink="/building">Building</button>
  </div>
  <div class="navigation-item">
      <button class="navigation-btn" routerLink="/military">Military</button>
  </div>
  <div class="navigation-item">
      <button class="navigation-btn">Diplomacy</button>
  </div>
  <div class="navigation-item">
     <button class="navigation-btn">War</button>
  </div>
  <div class="navigation-item">
    <button class="navigation-btn">Events Log</button>
  </div>
  <div class="navigation-item">
    <button class="navigation-btn" routerLink="/options">Options</button>
  </div>
</div>
